<h1>Comments</h1> 

<% @comments.each do |c| %>
    <p><strong><%= link_to c.user.username, user_path(c.user) %> commented on <%= link_to c.workout.name, workout_path(c.workout) %>:</strong> <%= c.description %></p><br>
<% end %> 

<% if @workout %>
    <p><%= link_to 'Leave a comment for this workout', new_workout_comment_path(@workout.id) %></p>
<% end %>
